* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.slider-container {
    width: 500px; 
    height: 300px; 
    margin: 40px auto;
    text-align: center;
  }
  

  button {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #3e8e41;
  }
.slider-container {
    width: 500px; 
    height: 300px; 
    margin: 40px auto;
    text-align: center;
  }
  
  button {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #3e8e41;
  }

  img{
    width: 300px;
    height: 500px;
  }